body{
    background-color: #212529;
}

img{
    max-width: 100%;
    height: auto;
}

.column_image{
    overflow: hidden;
    float: left;
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

#banner{
    width: 100%;
    height: auto;
    background-size: contain;
}

.layout{
    display: grid;
    grid-gap: 1.3rem;
    grid-template-areas:
    'first second'
    'third second'
}
.item{
    border: 2px solid black;
}
#first{
    grid-area: first;
}

#second{
    grid-area: second;
}
#third{
    grid-area: third;
}

